[Unit]
Description=Wallpaper setter
After=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill %h/desktop/pictures/wallpaper
Environment=DISPLAY=:0

[Install]
WantedBy=xinit.target
