[Desktop Entry]
Type=Application
Version=1.0
Name=Eclipse
GenericName=Integrated Development Environment
Comment=A Java IDE
Exec=/home/vincent/bin/eclipse
Icon=/home/vincent/lib/eclipse/icon.xpm
Terminal=false
Categories=GTK;Development;IDE;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
StartupNotify=true
Actions=Xgbi

[Desktop Action Xgbi]
Name=Open Eclipse with Xgbi workspace
Exec=/home/vincent/bin/eclipse -data /home/vincent/srv/workspaces/xgbi
OnlyShowIn=Unity
