[Desktop Entry]
Type=Application
Version=1.0
Name=Terminal
GenericName=x-terminal-emulator
Comment=Terminal (urxvt)
Exec=/usr/bin/x-terminal-emulator
Icon=terminal
Terminal=false
Categories=Terminal;Development;
StartupNotify=true
Actions=NewWindow;NewTmux
X-MultipleArgs=false

[Desktop Action NewWindow]
Name=Open a New Window
Exec=/usr/bin/x-terminal-emulator
OnlyShowIn=Unity

[Desktop Action NewTmux]
Name=Open a New Tmux
Exec=/usr/bin/x-terminal-emulator -e zsh -c "tmx default"
OnlyShowIn=Unity
